.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    grid-gap:10px;
    background-color:lightblue;


}

.grid-item {
    
    text-align:left;
    font-size: 30px;;
    
}
h1{
    text-align: center;
    color:darkblue;
}
h2{
    text-align: center;
}

